.fill-height {
    display: flex;
    flex-direction: column;
}
 
.fill-height > div.row {
    flex: 1;
}

ion-content .col {
    text-align: center;
}
ion-content div.display {
    font-size: 2em;
    text-align: right;
}